<%- partial('_partial/head') %>
<% var isSpecailPost =  (is_current("travelogue/", true)) || (is_current("about/", true) || (is_current("map/", true))) %>
<% if (is_post() || isSpecailPost ){ %>
  <body data-spy="scroll" data-target="#toc" data-offset="50">
<% } else {%>
  <body>
<% } %>

  <!-- 粉專SDK -->
  <%- partial('sdk/facebookfanpageSDK', null) %>
  <!-- 導航欄Nav -->
  <%- partial('_partial/header-post', null, {cache: !config.relative_link}) %>

  <div id="container">

    <div id="wrap">
      <div id="content" class="outer">

        <!-- body 變數就是對應個別頁面設定的"layout index（首页）、post（文章详情页）、page（导航标签页）、archive（归档页）、category（类别页）以及tag（标签页)" -->
        <!-- indx , post 跟 page 其實一樣 都是到 article -->

        <% if (theme.sidebar && theme.sidebar !== 'bottom' && !is_post() && !isSpecailPost) { %>
            <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
            <section id="main"><%- body %></section>
        <% } else { %>
            <section id="main" style="float:none;"><%- body %></section>
        <% } %>

      </div>
    </div>

    <!-- <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %> -->
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    <%- partial('_partial/after-footer') %>
  </div>

  <a id="rocket" href="#top" class=""></a>
  <script type="text/javascript" src="/js/totop.js" async=""></script>
</body>
</html>
