
<%  //上方大圖
if (is_home())
{
%>
  <div id="header-blur" class="site-header-image blur">
    <img id="blurBg" width="100%" style="top: 96%" alt="" src="">
  </div>

  <div class="site-header-image">
    <img id="originBg" width="100%" alt="" src="">
  </div>

  <script>
        var day = new Date().getDate();
        var imgUrls = 'http://kittynblogphoto.oss-cn-shanghai.aliyuncs.com/Banner/' + day + '.JPG'
        document.getElementById("originBg").src = imgUrls;
        document.getElementById("blurBg").src = imgUrls;
    </script>
<%
}
%>

<header id="allheader" class="site-header" role="banner" 
  <% if (is_home())
    { %> 
        style="width: 100%; position: absolute; top:0; background: rgba(255,255,255,.8);" <% 
    } 
  %> >

  <div class="clearfix container">
      <div class="site-branding">

          <h1 class="site-title">
            <!-- 使用圖片 -->
            <% if (theme.avatar.enable){ %>
              <a href="<%= config.root %>" rel="home" >
                <img style="margin-bottom: <%= theme.avatar.bottom %>px;"  width="<%= theme.avatar.width %>px" height="<%= theme.avatar.height %>px" alt="" src="<% if (!(theme.avatar.url.startsWith('http') || theme.avatar.url.indexOf('://') >= 0)){ %> <%-config.root %><% } %><%- theme.avatar.url %>">

                <img style="margin-bottom: <%= theme.avatar.bottom %>px;" height="65px" src="<%-config.root %>css/images/titleLogo.png"></img>
              </a>
            <% } else { %>
              <a href="<%= config.root %>" title="<%= config.title %>" rel="home"> <%= config.title %> </a>
            <% } %>
          </h1>
          
          <% if (config.description){ %>
            <div class="site-description"><%= config.description %></div>
          <% } %>
            
          <nav id="main-navigation" class="main-navigation" role="navigation">
            <a class="nav-open">Menu</a>
            <a class="nav-close">Close</a>

            <div class="clearfix sf-menu">
              <ul id="main-nav" class="menu sf-js-enabled sf-arrows"  style="touch-action: pan-y;">
                    <!-- 導航欄文字高亮 -->
                    <% for (var i in theme.menu)
                      {
                     %>
                      <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-1663"> <a class="" href="<%- url_for(theme.menu[i]) %>"><%= __(i.toLowerCase()) %></a> </li>
                    <% } %>
              </ul>
            </div>
          </nav>

      </div>
  </div>
</header>

